body {
    background-color:antiquewhite
}

.multicolor-text {
    text-align: center;
    font-size: 20px;
    background: linear-gradient(to left,
            violet,
            indigo,
            blue,
            green,
            goldenrod,
            orange,
            red);
    -webkit-background-clip: text;
    color: transparent;
}


.center {
    text-align: center;
}

div {
    display: inline-block;
    display:inline-table;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 50px;
    padding: 30px;

}

  .one {
    display:inline-table;
    width: 25%;
     display: block;
  margin-left: auto;
  margin-right: auto;

  }

p {
    float: left;
    white-space: wrap;
    color: #90d048;
    font-size: 16px;
    font-weight: bold;
}

.block {
    display: block;
    width: 50%;
    border: none;
    margin-top: 50%;
    margin-left: 25%;
    background-color:#1e465f ;
    padding: 14px 28px;
    font-size: 18px;
    font-style: italic;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    text-align: center;
}