h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: green;
    font-weight: bold;
    font-size: 60px;
    text-align: center;

}

hr {
    border-radius: 10%;
}

h2 {
    font-size: 30px;
    margin-top: 10%;
    margin-left: 70%;
}


.block {
    display: block;
    width: 50%;
    border: none;
    margin-top: 50%;
    margin-left: 25%;
    background-color:#b69140 ;
    padding: 14px 28px;
    font-size: 18px;
    font-style: italic;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    text-align: center;
}


footer {
   text-align: center;
   color: black; 
}
